@charset "UTF-8";

/*style for mobile main*/
/*this style file is only valid in 400~768 pixel*/

/*기본색*/
:root {
    --main--white : #FFFFFF;
    --main--black : #2F2725;
    --main--grey : #AAAAAA;
    --sub--Dgrey : #DDDDDD;
    --sub--Egrey : #EEEEEE;
    --sub--trans : rgba(0,0,0,0);
    --sub--red : #FF3C32;
    --sub--yellow : #FFC000;
    --sub--purple : #9933FF;
    --sub--blue : #0066FF;
    --sub--green : #00F06E;
}


/*font variation*/
/* font-family: 'Noto Sans KR', sans-serif;                                */
/* font-family: 'Source Code Pro', monospace;                               */
/* font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';        */

h1 {
    font-family: 'Source Code Pro', monospace;
    color: var(--main--black);
    font-weight: 700;
    font-size: 20px;
    width: fit-content;
    height: 28px;
    margin: 0;
    
}

h3 {
    font-family: 'Source Code Pro', monospace;
    color: var(--main--black);
    font-weight: 700;
    font-size: 14px;
    width: fit-content;
    height: 20px;
    margin: 0;
}

h4 {
    font-family: 'Source Code Pro', monospace;
    color: var(--main--black);
    font-weight: 700;
    font-size: 12px;
    width: fit-content;
    height: 18px;
    margin: 0;
}

h5 {
    font-family: 'Source Code Pro', monospace;
    color: var(--main--grey);
    font-weight: 400;
    font-size: 12px;
    width: fit-content;
    height: 18px;
    margin: 0;
    text-decoration-line: underline;
}

h6 {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';  
    color: var(--main--grey);
    font-weight: 400;
    font-size: 11px;
    width: fit-content;
    height: 13.3px;
    margin: 0;
}



/*line objects*/
.line1 {
    width: auto;
    height: 0;
    margin: 0; 
    border: 1px solid var(--main--black);    
}

.line2 {
    width: 100%;
    margin: 0; 
    border: 0.5px solid var(--sub--Dgrey);
    height: 0;
}


/*main components*/
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: var(--sub--Dgrey);
    height: 100%;
    align-items: center;
    min-width: 920px;
    /*background: url('Port_head/181201.png') no-repeat center/cover;*/
}

#div_upper { 
    box-sizing: border-box;
    position: fixed; 
    width: 16%; 
    min-width: 147px; 
    height: 100%;

    padding: 18px;
    background-color: var(--sub--trans); 
   
    z-index: 9999;  
}

#div_header {
    /*float: left; */
    width: 72%; 
    height: 56px; 
    margin-left: 16%;
    margin-right: auto;
    padding-top: 20px;
    position: relative;
}

#div_body {
    /*float: right;*/
    width: 72%;
    margin-left: 16%;
    margin-right: auto;
    
    position: relative;
    box-sizing: border-box;
    overflow-y: scroll;
    /*overflow-x: hidden;*/
}

#div_footer {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

/* disable scroll bar*/
#div_body::-webkit-scrollbar {
    display: none;
}
/*
html::-webkit-scrollbar {
    display: none;
}*/




/*components in PwHeader*/
.PwHeaderDivLeft {
    float: left;
    margin-right: 72px;
}

.PwHeaderDivRight {
    float: right;
    margin-left: 14px;
}


/*components in PwPortfolio*/
#PwPortfolio {
    list-style: none;
    margin: 0;
    padding: 0;    
}
.PwPortfolioList{
    width: 100%;
    height: 320px;
    background-color: var(--sub--green);
    overflow: hidden;
    margin-bottom: 10px;
}

.PwPortfolioArticle{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
