@charset "UTF-8";

/*style for mobile main*/
/*this style file is only valid in 400~768 pixel*/

/*기본색*/
:root {
    --main--white : #FFFFFF;
    --main--black : #2F2725;
    --main--grey : #AAAAAA;
    --sub--lightgrey : #DDDDDD;
    --sub--trans : rgba(0,0,0,0);
    --sub--red : #FF3C32;
    --sub--yellow : #FFC000;
    --sub--purple : #9933FF;
    --sub--blue : #0066FF;
    --sub--green : #00F06E;
}

/*main components*/
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: var(--sub--lightgrey);
    height: 100%;
    /*background: url('Port_head/181201.png') no-repeat center/cover;*/
}

#div_upper { 
    height: 120px; 
    width: 100%; 
    background-color: var(--sub--trans); 
    position: fixed;
}

#div_header {
    float: left; 
    width: 220px; 
    height: 100%; 
    position: fixed;
}

#div_body {
    float: right;
    width: 100%;
    margin-left: -220px;
    padding-right: 40px;
    padding-left: 220px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

#div_footer {
    text-align: end;
    font-family: 'Source Code Pro', monospace;
    color: var(--main--grey);
    font-weight: 700;
    font-size: 14px;
    height: fit-content;
    margin-top: 16px;
    margin-bottom: 40px;
}

/* disable scroll bar*/
#div_body::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar {
    display: none;
}


/*font variation*/
/* font-family: 'Noto Sans KR', sans-serif;                                */
/* font-family: 'Source Code Pro', monospace;                               */
/* font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';        */

h1 {
    font-family: 'Source Code Pro', monospace;
    color: var(--main--black);
    font-weight: 700;
    font-size: 20px;
    width: fit-content;
    height: 28px;
    margin: 0;
    
}

h3 {
    font-family: 'Source Code Pro', monospace;
    color: var(--main--black);
    font-weight: 700;
    font-size: 14px;
    width: fit-content;
    height: 20px;
    margin: 0;
}

h4 {
    font-family: 'Source Code Pro', monospace;
    color: var(--main--grey);
    font-weight: 700;
    font-size: 14px;
    width: fit-content;
    height: 20px;
    margin: 0;
}

/*line objects*/
.line1 {
    margin: 0; 
    border: 2px solid var(--main--black);
    height: 0;
}


/*components in PwHeader*/
.PwHeaderDivUp {
    position: absolute;;
    left: 40px;
    top: 128px;
}

.PwHeaderDivDown {
    position: absolute;
    left: 40px;
    bottom: 40px;
}


/*components in PwPortfolio*/
#PwPortfolio {
    list-style: none;
    margin: 0;
    padding: 0;    
}
.PwPortfolioList{
    width: 100%;
    height: 500px;
    background-color: var(--sub--green);
    overflow: hidden;
    margin-bottom: 10px;
}

.PwPortfolioArticle{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
